---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: result-app-deployment
  labels: 
     name: result-app
     author: madhav
spec:
  replicas: 2
  selector:
    matchLabels:
      name: result-app
  template:
    metadata:
      labels:
        name: result-app-pod
    spec:
      containers:
      - name: result-app
        image: dockersamples/examplevotingapp_result
...