---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: voting-app-deployment
  labels: 
     name: voting-app
     author: madhav
spec:
  replicas: 2
  selector:
    matchLabels:
      name: voting-app
  template:
    metadata:
      labels:
        name: voting-app-pod
    spec:
      containers:
      - name: voting-app
        image: dockersamples/examplevotingapp_vote
...